<!-- ヘッダー -->
<%= render 'render/header' %>

<!-- メイン -->
<main>
    <section class="settings">
        <div class="settings__wrapper">
        <div class="settings__icon">
            <%= image_tag "default_icon.jpg", class: "settings__icon--img" %>
            <a class="settings__edit">
                <%= image_tag "profile_edit.png", class: "settings__edit--img" %>
            </a>
        </div>
        <h2 class="settings__wrapper--title">アカウントの設定</h2>
        <form class="settings__form">
            <label for="name" class="settings__form--label">名前</label>
            <input type="text" id="name" name="name" class="settings__form--input">
            <label for="grade" class="settings__form--label">高校の学年</label>
            <input type="number" id="grade" name="grade" class="settings__form--input">
            <label for="email" class="settings__form--label">メールアドレス</label>
            <input type="mail" id="email" name="email" class="settings__form--input">
            <label for="password" class="settings__form--label">パスワード</label>
            <input type="password" id="password" name="password" class="settings__form--input">
            <input type="submit" value="更新する" name="account_update" class="settings__form--button">
        </form>
        <%= link_to "/password_setting", class: "settings__link" do %>
            パスワードを忘れた方は<span class="settings__link--blue">こちら</span>
        <% end %>
    </section>
</main>

<!-- フッター -->
<%= render 'render/footer' %>