<!-- ヘッダー -->
<header class="header">
    <div class="header__wrapper">
        <a class="header__title" href="">
            <h1 class="header__hssb"><span class="header__hssb--blue">H</span>SSB</h1>
            <p class="header__title--sub">高校生の意見発信ブログ</p>
        </a>
        <nav>
            <ul class="header__ul">
                <li class="header__ul--list">
                    <a>ホーム</a>
                </li>
                <li class="header__ul--list">
                    <a>ブログを書く</a>
                </li>
                <li class="header__ul--list">
                    <a>お気に入り</a>
                </li>
                <li class="header__ul--list">
                    <a>記事を読む</a>
                </li>
            </ul>
        </nav>
        <a class="header__profile">
            <%= image_tag "default_icon.jpg", class: "header__profile--img" %>
        </a>
        <div class="header__triangle"></div>
    </div>
</header>

<!-- メイン -->
<main>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="swiper-slide__wrapper">
                    <p class="swiper-slide__wrapper--name">taro</p>
                    <h2 class="swiper-slide__wrapper--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h2>
                    <button type="button" class="swiper-slide__wrapper--button">もっと読む</button>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="swiper-slide__wrapper">
                    <p class="swiper-slide__wrapper--name">taro</p>
                    <h2 class="swiper-slide__wrapper--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h2>
                    <button type="button" class="swiper-slide__wrapper--button">もっと読む</button>
                </article>
            </div>
            <div class="swiper-slide">
                <article class="swiper-slide__wrapper">
                    <p class="swiper-slide__wrapper--name">taro</p>
                    <h2 class="swiper-slide__wrapper--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h2>
                    <button type="button" class="swiper-slide__wrapper--button">もっと読む</button>
                </article>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-pagination"></div>
    <!-- 新着記事 -->
    <div class="new-article">
        <div class="new-article__title">
            <span class="new-article__title--line"></span>
            <h2 class="new-article__title--text">新着記事</h2>
            <span class="new-article__title--line"></span>
        </div>
        <div class="new-article__wrapper">
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
            <article class="article_items">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">3分前</time>
                        <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">高校生です。HSSBでブログを始めました。毎日更新していきます。</h3>
                    <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                    <span class="article_items__text--name">taro / 高校2年生</span>
                </div>
            </article>
        </div>
        <button type="button" class="new-article__button">もっとみる</button>
    </div>
    <!-- cta -->
    <div class="cta">
        <div class="cta__wrapper">
            <a class="cta__items">
                <%= image_tag "cta_icon_write", class: "cta__items--icon" %>
                <h2 class="cta__items--title">ブログを書く</h2>
                <p class="cta__items--text">自分の意見を発信してみよう</p>
            </a>
            <a class="cta__items">
                <%= image_tag "cta_icon_read", class: "cta__items--icon" %>
                <h2 class="cta__items--title">他の人の記事を<br>読む</h2>
                <p class="cta__items--text">価値観をアップデートしよう</p>
            </a>
            <a class="cta__items">
                <%= image_tag "cta_icon_favorite", class: "cta__items--icon" %>
                <h2 class="cta__items--title">お気に入りを<br>見る</h2>
                <p class="cta__items--text">お気に入りの記事を読み返そう</p>
            </a>
        </div>
    </div>
</main>

<!-- フッター -->
<footer>
    
</footer>

<!-- TOPページ限定のJavaScript -->
<%= javascript_pack_tag 'top_js/application' %>