<!-- ヘッダー -->
<%= render 'shared/header' %>

<!-- メイン -->
<main>
    <!-- 新着記事一覧 -->
    <div class="articles_list articles_list_new">
        <div class="articles_list__title articles_list_new__title">
            <span class="articles_list__title--line"></span>
            <h2 class="articles_list__title--text">新着記事</h2>
            <span class="articles_list__title--line"></span>
        </div>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <article class="article_items">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">3分前</time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to "高校生です。HSSBでブログを始めました。毎日更新していきます。", "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">どうも、高校3年生のtaroです。好きな食べ物は焼肉で、好きな飲み物はコカ・コーラです。今日からHSSBでブログの...</p>
                <%= link_to "taro", "/other_profile", class: "article_items__text--name" %>
                <%= link_to " / 高校2年生", "/other_profile", class: "article_items__text--name article_items__text--grade" %>
            </div>
        </article>
        <div class="pagination">
            <div class="pagination__wrapper"></div>
        </div>
    </div>
</main>

<!-- フッター -->
<%= render 'shared/footer' %>