<div class="article_posting">
    <%= form_with(model: @article, local: true, class: 'article_posting__form') do |f| %>
        <% if @article.errors.include?(:title) %>
            <p class="settings__form--errors"><%= @article.errors.full_messages_for(:title).first %></p>
        <% end %>
        <%= f.label :title, "タイトル", class: "article_posting__form--label" %>
        <%= f.text_field :title, placeholder: "ここにタイトルを書いてください", class: "article_posting__form--title" %>
        <%= button_tag "削除", type: "button", class: "article_posting__form--img_delete", id: "delete_button" %>
        <%= f.hidden_field :image, name: "", id: "delete_hidden" %>
        <%= f.label :image do %>
            <%= f.label :image, "アイキャッチ画像", class: "article_posting__form--label" %>
            <%= f.file_field :image, class: "article_posting__form--img_select" %>
            <% if @article.image? %>
                <%= image_tag @article.image.url, class: "article_posting__form--img" %>
            <% else %>
                <%= image_tag "article_details_no_img.jpg", class: "article_posting__form--img" %>
            <% end %>
        <% end %>
        <% if @article.errors.include?(:content) %>
            <p class="settings__form--errors"><%= @article.errors.full_messages_for(:content).first %></p>
        <% end %>
        <%= f.label :content, "本文", class: "article_posting__form--label" %>
        <%= f.text_area :content, placeholder: "ここに本文を書いてください", class: 'article_posting__form--textarea' %>
        <%= f.submit "更新する", class: "article_posting__form--button" %>
    <% end %>
</div>
<!-- 記事ページのJS -->
<%= javascript_pack_tag 'articles_js/application' %>