<div class="article_posting">
    <%= form_with(model: @article, local: true, class: 'article_posting__form') do |f| %>
        <% if @article.errors.include?(:title) %>
            <p class="settings__form--errors"><%= @article.errors.full_messages_for(:title).first %></p>
        <% end %>
        <%= f.label :title, "タイトル", class: "article_posting__form--label" %>
        <%= f.text_field :title, placeholder: "ここにタイトルを書いてください", class: "article_posting__form--title" %>
        <%= f.label :image, 'アイキャッチ画像', class: "article_posting__form--label" %>
        <%= f.file_field :image, class: "article_posting__form--img_select" %>
        <%= image_tag "article_details_no_img.jpg", class: "article_posting__form--img" %>
        <% if @article.errors.include?(:content) %>
            <p class="settings__form--errors"><%= @article.errors.full_messages_for(:content).first %></p>
        <% end %>
        <%= f.label :content, "本文", class: "article_posting__form--label" %>
        <%= f.text_area :content, placeholder: "ここに本文を書いてください", class: 'article_posting__form--textarea' %>
        <%= f.submit "投稿する", class: "article_posting__form--button" %>
    <% end %>
</div>
<!-- 記事投稿ページのJS -->
<%= javascript_pack_tag 'articles_js/application' %>