<%= content_for(:title, @article.title) %>
<%= content_for(:description, @article.content) %>
<%= content_for(:image_url, full_url(@article.image)) %>

<section class="article_details">
    <div class="article_details__wrapper">
        <div class="article_details__main">
            <time class="article_details__main--time">
                <%= time_ago_in_words(@article.created_at)+"前" %>
            </time>
            <%= link_to @user.name, user_path(@user), class: "article_details__main--name" %>
            <%= link_to " / 高校 #{get_grade(@user)} 年生", user_path(@user), class: "article_details__main--name article_details__main--name-none" %>
            <div class="article_details__favorite_count">
                <%= @article.favorites.count %>
                <span class="article_details__favorite_count--like">Like</span>
            </div>
            <h2 class="article_details__main--title">
                <%= @article.title %>
            </h2>
        </div>
        <% if @article.image? %>
            <%= image_tag @article.image.url, class: "article_details__wrapper--img" %>
        <% else %>
            <%= image_tag "article_details_no_img.jpg", class: "article_details__wrapper--img" %>
        <% end %>
        <div class="article_details__text_area">
            <p class="article_details__text_area--text">
                <%= safe_join(@article.content.split("\n"),tag(:br)) %>
            </p>
        </div>
    </div>
    <!-- snsシェア -->
    <div class="sns_share">
        <!-- ドメイン未定です -->
        <%= link_to "https://twitter.com/share?url=#{request.url}", title: 'HSSB', target: '_blank', rel: "noopener noreferrer" do %>
            <i class="fab fa-twitter"></i>
        <% end %>
        <%= link_to "https://www.facebook.com/sharer.php?src=bm&u=#{request.url}", title: 'HSSB', target: '_blank', rel: "noopener noreferrer" do %>
            <i class="fab fa-facebook-f"></i>
        <% end %>
        <% if logged_in? %>
            <div id="favorite_<%= @article.id %>">
                <%= render "shared/favorite", article: @article %>
            </div>
        <% end %>
    </div>
    <% if current_user? %>
        <%= button_tag "記事を編集する", onclick: "location.href='#{edit_article_path(@article)}'", type: "button", class: "article_details__button" %>
    <% end %>
    <!-- コメント機能 -->
    <div class="comment">
        <div class="comment__wrapper">
            <h2 class="comment__wrapper--title">コメントをする</h2>
            <%= form_with(model: [@article, @comment], data: { remote: true }, class: "comment__form") do |f| %>
                <div class="comment__area">
                    <div id="comment_error">
                        <% if @comment.errors.any? %>
                            <p class="comment__area--error settings__form--errors" >
                                <%= @comment.errors.full_messages.first %>
                            </p>
                        <% end %>
                    </div>
                    <%= f.text_area :content, placeholder: "140文字以内", class: "comment__area--text_area" %>
                </div>
                <%= f.submit "投稿する", class: "comment__form--button" %>
            <% end %>
        </div>
        <div class="comment__heading">
            <h2 class="comment__heading--title">コメント一覧</h2>
            <span class="comment__heading--count" id="comment_count_ajax">
                <%= @comments.count %>件
            </span>
        </div>
        <% if @comments.present? %>
            <div id="comment_ajax">
                <%= render "shared/comment" %>
            </div>
        <% else %>
            <p class="comment__no_text">まだコメントはありません</p>
        <% end %>
    </div>
</section>
<!-- プロフィール -->
<section class="profile profile_details">
    <div class="profile__wrapper">
        <div class="profile__circle">
            <% if @user.icon? %>
                <%= image_tag @user.icon.thumb.url, class: "profile__circle--img" %>
            <% else %>
                <%= image_tag "default_icon.jpg", class: "profile__circle--img" %>
            <% end %>
        </div>
        <h2 class="profile__name">
            <%= @user.name %>
            <span class="profile__name--grade"> / </span><br class="profile__name--grade_br">高校 <%= get_grade(@user) %> 年生
        </h2>
        <% if current_user? %>
            <%= button_tag "プロフィールを編集する", onclick: "location.href='#{edit_user_path(@user)}'", type: "button", class: "profile__button" %>
        <% else %>
            <%= button_tag "プロフィールをみる", onclick: "location.href='#{user_path(@user)}'", type: "button", class: "profile__button" %>
        <% end %>
    </div>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
    <div class="articles_list__title">
        <span class="articles_list__title--line"></span>
        <h2 class="articles_list__title--text">他も読む</h2>
        <span class="articles_list__title--line"></span>
    </div>
    <% unless @not_current_articles.empty? %>
        <% @not_current_articles.first(3).each do |article| %>
            <article class="article_items articles_list_details">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">
                        <%= time_ago_in_words(article.created_at)+"前" %>
                    </time>
                    <% if article.image? %>
                        <%= image_tag article.image.url, class: "article_items__wrapper--img" %>
                    <% else %>
                        <%= image_tag "article_details_no_img.jpg", class: "article_items__wrapper--img" %>
                    <% end %>
                    <div id="favorite_<%= article.id %>">
                        <%= render "shared/favorite", article: article %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">
                        <%= link_to article.title.truncate(24), article_path(article), class: "article_items__text--title_hover" %>
                    </h3>
                    <p class="article_items__text--overview">
                        <%= article.content.truncate(52) %>
                    </p>
                    <%= link_to @user.name, @user, class: "article_items__text--name" %>
                    <%= link_to " / 高校 #{get_grade(@user)} 年生", @user, class: "article_items__text--name article_items__text--grade" %>
                    <div class="article_items__favorite_count">
                        <%= article.favorites.count %>
                        <span class="article_items__favorite_count--like">Like</span>
                    </div>
                </div>
            </article>
        <% end %>
    <% else %>
        <p class="articles_list__no_articles">他に記事はありません</p>
    <% end %>
</div>