<section class="article_details">
    <div class="article_details__wrapper">
        <div class="article_details__main">
            <time class="article_details__main--time">
                <%= time_ago_in_words(@article.created_at)+"前" %>
            </time>
            <%= link_to @user.name, user_path(@user), class: "article_details__main--name" %>
            <%= link_to " / 高校#{get_grade(@user)}年生", user_path(@user), class: "article_details__main--name article_details__main--name-none" %>
            <h2 class="article_details__main--title">
                <%= @article.title %>
            </h2>
        </div>
        <div class="article_details__container">
            <% if @article.image? %>
                <%= image_tag @article.image.url, class: "article_details__wrapper--img" %>
            <% else %>
                <%= image_tag "article_details_no_img.jpg", class: "article_details__wrapper--img" %>
            <% end %>
            <% if logged_in? %>
                <% if @article.favorited_by?(current_user) %>
                    <%= link_to article_favorites_path(@article.id), class: "article_details__favorite", method: :delete do %>
                        <%= image_tag "active_star.png", class: "article_details__favorite--img" %>
                    <% end %>
                <% else %>
                    <%= link_to article_favorites_path(@article.id), class: "article_details__favorite", method: :post do %>
                        <%= image_tag "no_active_star.png", class: "article_details__favorite--img" %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <div class="article_details__text_area">
            <p class="article_details__text_area--text">
                <%= safe_join(@article.content.split("\n"),tag(:br)) %>
            </p>
        </div>
    </div>
    <% if current_user? %>
        <%= button_tag "記事を編集する", onclick: "location.href='#{edit_article_path(@article)}'", type: "button", class: "article_details__button" %>
    <% end %>
    <div class="comment">
        <div class="comment__wrapper">
            <h2 class="comment__wrapper--title">コメント</h2>
            <%= form_with(model: [@article, @comment], local: true, class: "comment__form") do |f| %>
                <div class="comment__area">
                    <% if flash[:comment_error].present? %>
                        <p class="comment__area--error settings__form--errors">
                            <%= flash[:comment_error].first %>
                        </p>
                    <% end %>
                    <%= f.text_area :content, placeholder: "140文字以内", class: "comment__area--text_area" %>
                </div>
                <%= f.submit "投稿する", class: "comment__form--button", data: { disable_with: '送信中...'} %>
            <% end %>
        </div>
        <% if @comments.present? %>
            <div class="comment__heading">
                <h2 class="comment__heading--title">コメント一覧</h2>
                <span class="comment__heading--count">
                    <%= @comments.count %>
                </span>
            </div>
            <% @comments.each do |comment| %>
                <div class="comment__items">
                    <div class="comment__circle">
                        <% if comment.user.icon? %>
                            <%= image_tag comment.user.icon.thumb.url, class: "comment__circle--img" %>
                        <% else %>
                            <%= image_tag "default_icon.jpg", class: "comment__circle--img" %>
                        <% end %>
                    </div>
                    <div class="comment__contents">
                        <%= link_to comment.user.name, comment.user, class: "comment__contents--name" %>
                        <%= link_to " / 高校#{get_grade(comment.user)}年生", comment.user, class: "comment__contents--name comment__contents--name_grade" %>
                        <p class="comment__contents--text">
                            <%= comment.content %>
                        </p>
                        <%= link_to "削除", root_path, class: "comment__contents--delete" %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <p class="comment__no_text">まだコメントはありません</p>
        <% end %>
    </div>
</section>
<!-- プロフィール -->
<section class="profile profile_details">
    <div class="profile__wrapper">
        <div class="profile__circle">
            <% if @user.icon? %>
                <%= image_tag @user.icon.thumb.url, class: "profile__circle--img" %>
            <% else %>
                <%= image_tag "default_icon.jpg", class: "profile__circle--img" %>
            <% end %>
        </div>
        <h2 class="profile__name">
            <%= @user.name %>
            <span class="profile__name--grade"> / </span><br class="profile__name--grade_br">高校 <%= get_grade(@user) %> 年生
        </h2>
        <% if current_user? %>
            <%= button_tag "プロフィールを編集する", onclick: "location.href='#{edit_user_path(@user)}'", type: "button", class: "profile__button" %>
        <% else %>
            <%= button_tag "プロフィールをみる", onclick: "location.href='#{user_path(@user)}'", type: "button", class: "profile__button" %>
        <% end %>
    </div>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
    <div class="articles_list__title">
        <span class="articles_list__title--line"></span>
        <h2 class="articles_list__title--text">他も読む</h2>
        <span class="articles_list__title--line"></span>
    </div>
    <% unless @not_current_articles.empty? %>
        <% @not_current_articles.first(3).each do |article| %>
            <article class="article_items articles_list_details">
                <div class="article_items__image">
                    <div class="article_items__wrapper">
                        <time class="article_items__wrapper--time">
                            <%= time_ago_in_words(article.created_at)+"前" %>
                        </time>
                        <% if article.image? %>
                            <%= image_tag article.image.url, class: "article_items__wrapper--img" %>
                        <% else %>
                            <%= image_tag "article_details_no_img.jpg", class: "article_items__wrapper--img" %>
                        <% end %>
                        <% if logged_in? %>
                            <% if article.favorited_by?(current_user) %>
                                <%= link_to article_favorites_path(article.id), method: :delete do %>
                                    <%= image_tag "active_star.png", class: "article_items__wrapper--star" %>
                                <% end %>
                            <% else %>
                                <%= link_to article_favorites_path(article.id), method: :post do %>
                                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="article_items__text">
                    <h3 class="article_items__text--title">
                        <%= link_to article.title, article_path(article), class: "article_items__text--title_hover" %>
                    </h3>
                    <p class="article_items__text--overview">
                        <%= article.content.truncate(60) %>
                    </p>
                    <%= link_to @user.name, @user, class: "article_items__text--name" %>
                    <%= link_to " / 高校#{get_grade(@user)}年生", @user, class: "article_items__text--name article_items__text--grade" %>
                </div>
            </article>
        <% end %>
    <% else %>
        <p class="articles_list__no_articles">他に記事はありません</p>
    <% end %>
</div>