<% content_for(:title, @article.title) %>
<% content_for(:description, @article.content) %>
<% content_for(:image_url, full_url(@article.image)) %>
<% content_for(:list_title, "他も読む") %>

<section class="article_details">
  <div class="article_details__wrapper">
    <div class="article_details__main">
      <time class="article_details__main--time">
        <%= time_ago_in_words(@article.created_at)+"前" %>
      </time>
      <%= link_to @user.name, user_path(@user), class: "article_details__main--name" %>
      <%= link_to " / 高校 #{get_grade(@user)} 年生", user_path(@user), class: "article_details__main--name article_details__main--name-none" %>
      <div class="article_items__favorite_count" id="favorite_count_<%= @article.id %>">
        <%= render "shared/favorite_count", article: @article %>
      </div>
      <h2 class="article_details__main--title">
        <%= @article.title %>
      </h2>
    </div>
    <% if @article.image? %>
      <%= image_tag @article.image.url, class: "article_details__wrapper--img" %>
    <% else %>
      <%= image_tag "article_details_no_img.jpg", class: "article_details__wrapper--img" %>
    <% end %>
    <div class="article_details__text_area">
      <p class="article_details__text_area--text">
        <%= safe_join(@article.content.split("\n"),tag(:br)) %>
      </p>
    </div>
  </div>
  <!-- snsシェア -->
  <div class="sns_share">
    <!-- ドメイン未定です -->
    <%= link_to "https://twitter.com/share?url=#{request.url}", title: 'HSSB', target: '_blank', rel: "noopener noreferrer" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/sharer.php?src=bm&u=#{request.url}", title: 'HSSB', target: '_blank', rel: "noopener noreferrer" do %>
      <i class="fab fa-facebook-f"></i>
    <% end %>
    <% if logged_in? %>
      <div id="favorite_<%= @article.id %>">
        <%= render "shared/favorite", article: @article %>
      </div>
    <% end %>
  </div>
  <% if current_user? %>
    <%= button_tag "記事を編集する", onclick: "location.href='#{edit_article_path(@article)}'", type: "button", class: "article_details__button" %>
  <% end %>
  <!-- コメント機能 -->
  <div class="comment">
    <div class="comment__wrapper">
      <h2 class="comment__wrapper--title">コメントをする</h2>
      <%= form_with(model: [@article, @comment], data: { remote: true }, class: "comment__form") do |f| %>
        <div class="comment__area">
          <div id="comment_error">
            <%= render "shared/comment_error" %>
          </div>
          <%= f.text_area :content, placeholder: "140文字以内", class: "comment__area--text_area" %>
        </div>
        <%= f.submit "投稿する", class: "comment__form--button" %>
      <% end %>
    </div>
    <div class="comment__heading">
      <h2 class="comment__heading--title">コメント一覧</h2>
      <span class="comment__heading--count" id="comment_count_ajax">
        <%= @comments.count %>件
      </span>
    </div>
    <div id="comment_ajax">
      <%= render "shared/comment" %>
    </div>        
  </div>
</section>
<!-- プロフィール -->
<section class="profile profile_details">
  <%= render "shared/profile" %>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
  <%= render "shared/list_title" %>
  <% unless @not_current_articles.empty? %>
    <% @not_current_articles.first(3).each do |article| %>
      <%= render "shared/articles", article: article %>
    <% end %>
  <% else %>
    <p class="articles_list__no_articles">他に記事はありません</p>
  <% end %>
</div>