<!-- 新規登録 -->
<section class="settings">
    <div class="settings__wrapper">
        <%= image_tag "elephant_icon.jpg", class: "settings__img" %>
        <h2 class="settings__wrapper--title">ブログ生活をスタートしよう</h2>
        <%= form_with(model: @user, local: true, class: "settings__form") do |f| %>
            <% if @user.errors.include?(:name) %>
                <p class="settings__form--errors"><%= @user.errors.full_messages_for(:name).first %></p>
            <% end %>
            <%= f.text_field :name, class: "settings__form--input_sign",
                placeholder: "お名前" %>
            <% if @user.errors.include?(:email) %>
                <p class="settings__form--errors"><%= @user.errors.full_messages_for(:email).first %></p>
            <% end %>
            <%= f.email_field :email, class: "settings__form--input_sign", placeholder: "メールアドレス" %>
            <% if @user.errors.include?(:password) %>
                <p class="settings__form--errors"><%= @user.errors.full_messages_for(:password).first %></p>
            <% end %>
            <%= f.password_field :password, class: "settings__form--input_sign", placeholder: "パスワード（6文字以上）" %>
            <% if @user.errors.include?(:password_confirmation) %>
                <p class="settings__form--errors"><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
            <% end %>
            <%= f.password_field :password_confirmation, class: "settings__form--input_sign", placeholder: "パスワードの確認" %>
            <%= f.submit "新規登録", class: "settings__form--button_sign" %>
        <% end %>
        <%= link_to login_path, class: "settings__link" do %>
            すでに登録済みの方は<span class="settings__link--blue">こちら</span>
        <% end %>
    </div>
</section>