<!-- プロフィール -->
<section class="profile">
    <div class="profile__wrapper">
        <div class="profile__circle">
            <%= image_tag "default_icon.jpg", class: "profile__circle--img" %>
        </div>
        <h2 class="profile__name">
            <%= @user.name %>
            <span class="profile__name--grade"> / </span><br class="profile__name--grade_br">高校
            <% if @user.grade %>
                <%= @user.grade %>
            <% else %>
                ?
            <% end %>
            年生
        </h2>
        <button type="button" class="profile__button">ブログを書く</button>
    </div>
</section>
<!-- 記事一覧 -->
<div class="articles_list">
    <div class="articles_list__title">
        <span class="articles_list__title--line"></span>
        <h2 class="articles_list__title--text">記事一覧</h2>
        <span class="articles_list__title--line"></span>
    </div>
    <% @articles.each do |article| %>
        <article class="article_items article_items_margin">
            <div class="article_items__image">
                <div class="article_items__wrapper">
                    <time class="article_items__wrapper--time">
                        <%= time_ago_in_words(article.created_at)+"前" %>
                    </time>
                    <%= image_tag "no_active_star.png", class: "article_items__wrapper--star" %>
                </div>
            </div>
            <div class="article_items__text">
                <h3 class="article_items__text--title">
                    <%= link_to article.title, "/profile/my_article_details", class: "article_items__text--title_hover" %>
                </h3>
                <p class="article_items__text--overview">
                    <%= article.content.truncate(60) %>
                </p>
                <div class="article_items__button">
                    <%= link_to "編集", "/profile/article_posting", class: "article_items__button--edit" %>
                    <a class="article_items__button--delete">削除</a>
                </div>
            </div>
        </article>
    <% end %>
    <%= paginate @articles %>
</div>