<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : '高校生の意見発信ブログです' %>">
    <link rel="canonical" href="URL">
    <title><%= content_for?(:title) ? yield(:title) : "HSSB" %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('apple-touch-icon.png',
                     {:rel => 'apple-touch-icon',
                      :sizes => '180x180',
                      :type => 'image/png'}) %>
    <%= favicon_link_tag('android-chrome.png',
                     {:rel => 'shortcut icon',
                      :sizes => '256x256',
                      :type => 'image/png'}) %>
    <!-- OGP -->
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= full_title(yield(:title)) %>">
    <meta property="og:type" content="<%= content_for?(:og_type) ? yield(:og_type) : "article" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : '高校生の意見発信ブログです' %>">
    <meta property="og:image" content="<%= content_for?(:image_url) ? yield(:image_url) : full_url('/assets/article_details_no_img-5387121c74cac5b563ed76a405038049fb52f825d40c1876fbaa1cc32d621c2b.jpg') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Baru_blog">
    <meta property="og:site_name" content="HSSB">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="<%= ENV["FACEBOOK_ID"] %>">
    <!-- GoogleFont -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <!-- セキュリティ対策 -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- リンク -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'shared/header' %>
    <!-- flashメッセージ -->
    <% unless flash[:comment_error] %>
      <% flash.each do |message_class, message| %>
        <p class="flash flash_<%= message_class %>"><%= message %></p>
      <% end %>
    <% end %>
    <!-- main -->
    <main>
      <%= yield %>
    </main>
    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>
