<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ディスクリプション">
    <link rel="canonical" href="URL">
    <link rel="icon" href="faviconのリンク" sizes="48x48" type="image/x-ico">
    <link rel="apple-touch-icon-precomposed" href="画像のURL">
    <meta name="msapplication-TileImage" content="画像のURL">
    <meta name="msapplication-TileColor" content="色">
    <title>HSSB</title>
    <meta property="og:url" content="URL">
    <meta property="og:title" content="HSSB">
    <meta property="og:type" content="website">
    <meta property="og:description" content="SNSののディスクリプション">
    <meta property="og:image" content="画像のURL">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Baru_blog">
    <meta property="og:site_name" content="HSSB">
    <meta property="og:locale" content="ja_JP">
    <!-- GoogleFont -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <!-- セキュリティ対策 -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- リンク -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->
    <%= render 'shared/header' %>
    <!-- flashメッセージ -->
    <% if flash[:success] %>
      <p class="flash"><%= flash[:success] %></p>
    <% end %>
    <!-- main -->
    <main>
      <%= yield %>
    </main>
    <!-- フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>
